<!-- <input type="text" #name>
<button (click)="Print(name)"></button> -->

<!-- 
<input type="text" [(ngModel)]="textt"/>

{{textt}} -->

<!-- <div [ngSwitch]="car">
<h1 *ngSwitchCase="'T'">t</h1>
<h1 *ngSwitchCase="'Y'">y</h1>
<h1 *ngSwitchCase="'Z'">s</h1>
<h1 * ngSwitchDefault>kkk</h1>
</div> -->

<!-- <div *ngFor="let x of arr ; index as f ; odd as odd ;even as ev ; last as ls ; first as fi ">
    {{f+1}} ----{{x}}-----is odd : {{odd}} is even {{ev}}-- first {{fi}} -- last {{ls}} 
 
</div> -->

<!-- {{"123456789" | slice :3:5}} -->
