mat-tab-group
<mat-tab-group dir="ltr">
     <mat-tab label="Tab 1 ">  content 1 <br> content 1 </mat-tab>
    <mat-tab label="Tab 2">content<br> content 1 </mat-tab>
    <mat-tab label="Tab 3 ">content <br> content 1</mat-tab>
</mat-tab-group>
<br>
<br>
<br>
mat-expansion
<mat-accordion>
<mat-expansion-panel style="background-color:lightblue ; width: 200px;" >
    <mat-expansion-panel-header>
        <mat-panel-title>title1</mat-panel-title>
        <mat-panel-description>description</mat-panel-description>
    </mat-expansion-panel-header>
    <p> content content content content content content content content content content
         content content content content content content content content content content  </p>
         <mat-action-row>
            <button mat-flat-button>

                <span class="material-icons">
                    add_to_drive
                </span>
            </button>
         </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel style="background-color:limegreen ;width: 200px;">
    <mat-expansion-panel-header>
        <mat-panel-title>title2</mat-panel-title>
        <mat-panel-description>description2</mat-panel-description>
    </mat-expansion-panel-header>
    <p> content content content content content content content content content content
         content content content content content content content content content content  </p>
         <mat-action-row>
            <button mat-flat-button>

                <span class="material-icons">
                    add_to_drive
                </span>
            </button>
         </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel style="background-color:brown ; width: 200px;">
    <mat-expansion-panel-header>
        <mat-panel-title>title3</mat-panel-title>
        <mat-panel-description>description3</mat-panel-description>
    </mat-expansion-panel-header>
    <p> content content content content content content content content content content
         content content content content content content content content content content  </p>
         <mat-action-row>
            <button mat-flat-button>

                <span class="material-icons">
                    add_to_drive
                </span>
            </button>
         </mat-action-row>
</mat-expansion-panel >

</mat-accordion>