<mat-grid-list cols="3"   rowHeight="2:1" gutterSize="20px;">
 
    <mat-grid-tile colspan="3">
        <mat-card>
            <mat-card-content> card1</mat-card-content>
            <mat-card-title> title</mat-card-title>
            <mat-card-actions> 
                <span class="material-icons">
                    thumb_up
                    </span>
                    <span class="material-icons">
                        thumb_up_off_alt
                        </span>
                        <span class="material-icons">
                            thumb_down
                                </span>
                            <span class="material-icons">
                                add_reaction
                                </span>
                    <span class="material-icons">
                        favorite
                        </span><span class="material-icons">
                            favorite_border
                            </span>
                        <span class="material-icons">
                            add
                            </span>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-content> card2</mat-card-content>
            <mat-card-title> title</mat-card-title>
            <mat-card-actions> 
                <span class="material-icons">
                    thumb_up
                    </span>
                    <span class="material-icons">
                        thumb_up_off_alt
                        </span>
                        <span class="material-icons">
                            thumb_down
                                </span>
                            <span class="material-icons">
                                add_reaction
                                </span>
                    <span class="material-icons">
                        favorite
                        </span><span class="material-icons">
                            favorite_border
                            </span>
                        <span class="material-icons">
                            add
                            </span>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-content> card3</mat-card-content>
            <mat-card-title> title</mat-card-title>
            <mat-card-actions> 
                <span class="material-icons">
                    thumb_up
                    </span>
                    <span class="material-icons">
                        thumb_up_off_alt
                        </span>
                        <span class="material-icons">
                            thumb_down
                                </span>
                            <span class="material-icons">
                                add_reaction
                                </span>
                    <span class="material-icons">
                        favorite
                        </span><span class="material-icons">
                            favorite_border
                            </span>
                        <span class="material-icons">
                            add
                            </span>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" >tile2</mat-grid-tile>
    <mat-grid-tile>tile3</mat-grid-tile>
    <mat-grid-tile>tile4</mat-grid-tile>
    <mat-grid-tile >tile5</mat-grid-tile>
    <mat-grid-tile >tile6</mat-grid-tile>
    <mat-grid-tile colspan="3">tile7</mat-grid-tile>
</mat-grid-list>>